@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

.animated-body {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(60deg, #464eb8 50%, #7b83eb 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.animated-body2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.animated-body3 {
  animation-duration: 5s;
}

.auth-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*   
  h1 {
    font-family:monospace;
  } */

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.call-icons {
  color: #777;
  border: 1px solid rgb(48, 46, 46);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  background-color: black;
}

.icon-link {
  /* display: inline-flex; */
  /* font-size: 3rem; */
  /* text-decoration: none; */
  color: var(--color-icon);
  width: 50px;
  height: 50px;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
  background: transparent;
  border: none;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: #464eb83d;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: darkgrey;
}

.my-font {
  font-family: Rubik !important;
}

.chat-card-last-message {
  font-size: 0.9em;
  overflow-wrap: normal;
  overflow: hidden;
  color: gray;
  white-space: nowrap;
  margin-left: 3px;
  flex: 8;
}

.chat-card-date {
  font-size: 0.9em;
  text-align: center;
  color: gray;
  flex: 2;
  font-weight: lighter;
}
.chat-card {
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  /* transition: background-color 1s ease-out; */
}

.chat-card:hover {
  background-color: #6c71bd;
  border-radius: 15px;
  color: white;
}

.chat-card-active:hover {
  background-color: #464eb8;
  border-radius: 15px;
  color: white;
}

.chat-card:hover .chat-card-date {
  color: white;
}

.chat-card:hover #chat-card-unread-symbol {
  color: white !important;
}

.chat-card:hover .chat-card-last-message {
  color: white;
}

#new-chat-plus-button {
  background-color: #464eb8 !important;
}

.ce-chat-form-container {
  font-family: Rubik;
}

.chat-card-active {
  background-color: #464eb8;
  color: white;
}

.chat-card-date-active {
  color: white;
}
.chat-card-last-message-active {
  font-size: 0.9em;
  color: white;
}

.ce-my-message-bubble {
  background-color: #767bbe !important ;
}

.ce-settings {
  font-family: Rubik !important ;
}

.video-call-button {
  background-color: #464eb8;
  border-radius: 15px;
}

#ce-send-message-button {
  background-color: #464eb8 !important;
}

.participant-row:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #464eb8;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
